<div class="input-group">
    <input type="text" class="form-control" placeholder="{{ml('Global.SearchBoxTitle')}}" ng-model="search.$">
    <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-filter"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="setRecordStatus(true);"><i class="fa fa-check pull-right" ng-show="search.RecordStatus"></i> {{ml("Global.ActiveRecords")}}</a></li>
            <li><a href="" ng-click="setRecordStatus(false);"><i class="fa fa-check pull-right" ng-show="search.RecordStatus === false"></i> {{ml("Global.PassiveRecords")}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" ng-click="setRecordStatus('');"><i class="fa fa-check pull-right" ng-show="search.RecordStatus === ''"></i> {{ml("Global.AllRecords")}}</a></li>
        </ul>

        <button type="button" class="btn btn-default" ng-click="list();" title="{{ml('Global.List')}}"><i class="fa fa-refresh"></i> </button>
        <button type="button" class="btn btn-info" ng-click="createDialog();" title="{{ml('Global.New')}}"><i class="fa fa-plus"></i> </button>
    </span>
</div>
<div class="clearfix"></div>
